.post {
    padding: 1rem 1rem 0;
    /* background-color: #f8efff; */
    border: 2px solid rgba(128, 128, 128, 0.199);
    margin: 1rem;
    border-radius: 10px;
}

.postTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.userImageAndName {
    display: flex;
    gap: .5rem;
    align-items: flex-start;
}

.userImageAndName img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    ;
    overflow: hidden;
}

.userImageAndName .postUserAndDate h3 {
    font-size: 1.2rem;
    margin-bottom: -3px;
}

.postUserAndDate p {
    font-size: .8rem;
}

.postMenuContainer {
    position: relative;
}

.postMenu {
    position: absolute;
    background-color: white;
    top: 100%;
    right: -5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    border-radius: 10px;
    z-index: 100;
    width: max-content;
}

.postMenu li {
    padding: 1rem;
    border-bottom: 1px solid #831de2;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.postMenu li:nth-child(2) {
    border-bottom: none;
}

.postContent {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

.postImgContainer {
    display: flex;
    align-items: center;
    max-height: 600px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.postContent img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer
}

.postText span {
    text-decoration: underline;
    font-size: .8rem;
    cursor: pointer;
}

.postStats {
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem 0;
}

.postLikesCount {
    display: flex;
    gap: .25rem;
    cursor: pointer;
    font-size: .8rem;
}

.postCommentsCount {
    font-size: .8rem;
    cursor: pointer;
}

.postCommentsCount:hover,
.postLikesCount:hover {
    text-decoration: underline;
}

.postActionsBottom {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(128, 128, 128, 0.199);
    border-radius: 5px;
    margin-top: .5rem;
}

.postActionsBottom button {
    all: unset;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    font-size: 1.1rem;
}