.postPage {
    max-width: 1000px;
    margin: 1rem auto;
    background-color: white;
}

.topGoBack {
    padding: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.postPageBottom {
    display: flex;
    height: calc(100vh - 100px);
    max-height: 500px;
}

.postPageLeft {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.postPageLeft img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.postPageRight {
    flex: 1;
    padding: 1rem;
}

.postRightTop {
    display: flex;
    justify-content: space-between;
}

.postRightTop .userDetailsAndTime {
    display: flex;
    gap: .6rem;
    align-items: center;
}

.userDetailsAndTime .userNameAndTime {
    display: flex;
    flex-direction: column;
}

.userNameAndTime span {
    font-size: .7rem;
}

.userNameAndTime .userName {
    font-size: 1.1rem;
    font-weight: 600;
}

.postRightTop .userDetailsAndTime img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.postPageCaption {
    font-size: 1.1rem;
    padding: 1rem 1rem 1rem calc(40px + .8rem);
}