.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.signUpWrapper {
    height: fit-content;
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    border-radius: 40px;
    background: linear-gradient(to bottom, #831de2, #11e3af);
    box-shadow: 10px 10px 10px rgb(211, 211, 211);
}

.signUpWrapper h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.twoInputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.inputField {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.inputField label {
    margin-bottom: .4rem;
    cursor: pointer;
    color: white;
    font-size: .9rem
}

.inputField label span {
    color: red;
}

.inputField input:not(input[type=radio]) {
    width: 100%;
    min-width: 250px;
    padding: .8rem;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}

.inputField input:not(input[type=radio]):focus {
    border-bottom: 2px solid red;
}

.inputField input:not(input[type=radio]):valid {
    border-bottom: 2px solid #9c27b0;
}

.genderOptions {
    display: flex;
    gap: 2rem;
    margin-top: .5rem;
}

.genderOption label {
    margin-right: .5rem;
}

.btn {
    padding: 1rem 3rem;
    margin-top: 1rem;
    border: none;
    position: relative;
    left: 50%;
    letter-spacing: 1px;
    transform: translateX(-50%);
    outline: none;
    background-color: white;
    color: #831de2;
    cursor: pointer;
    border-radius: 10px;
}


/* errors */
.error {
    background-color: white;
    font-size: .9rem;
    padding: .5rem;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: -35px;
    z-index: 10;
    pointer-events: none;
    transition: .5s;
}